* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $color-ligth;
}

.build-card {
    border: 1px solid $color-silver;
    width: 100%;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom, $color-silver, $color-pale-grey);
}

.reset-box {
    width: 240px;
    margin: 0 auto;
    background-color: transparent;
    a {
        text-decoration: none;
        text-transform: uppercase;
    }
    i {
        background-color: transparent;
        padding-right: 5px;
    }
}

.reset-btn {
    width: 75px;
    height: 30px;
    margin: 10px 0 20px;
    padding: 5px 10px;
    border: 1px solid $color-ligth;
    border-radius: 15px;
    color: $color-secondary;
    background-color: transparent;
    font-family: $open;
    font-size: 12px;
}

.box-card {
    border: 1px solid $color-silver;
    border-radius: 2px;
    width: 240px;
    height: 367px;
    margin: 0 auto;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    background-color: $color-ligth;
}

.card-header {
    margin: 20px 0 10px;
    padding-left: 20px;
    border-left: 3px solid $palette-blue-ligth;
    font-family: $comic;
}

.name-person {
    font-size: 18px;
    font-weight: bold;
}

.work-space {
    font-size: 16px;
    font-weight: 400;
    color: $color-secondary;
}

.card-img {
    width: 100%;
    height: 200px;
    background-color: $palette-blue-ligth;
}

.icons-box {
    padding: 10px 20px;
}

.list-icon-card {
    list-style: none;
    display: flex;
}

.icons-contein {
    width: 32px;
    height: 32px;
    border: 2px solid $palette-blue-ligth;
    border-radius: 50%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    .icons-card {
        color: $palette-blue-dark;
    }
}

.card-footer {
    border-top: 2px solid rgba($palette-blue-midtone, 0.2);
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.skills__list {
    color: $color-ligth;
    list-style: none;
    font-family: $open;
    font-size: 13px;
    display: flex;
}

.skills__item {
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    padding-left: 5px;
    padding-right: 5px;
    text-transform: uppercase;
    border-radius: 4px;
}

.skills__item--bg {
    background-color: $palette-blue-midtone;
    border-top: 1px solid grey;
}

/*unfolds*/

.build-container {
    background-image: linear-gradient(to bottom, $color-back, $color-ligth);
}

.selectors-container {
    padding: 27px 20px;
    background-image: linear-gradient(to bottom, $color-back, $color-ligth);
}

.box-selector {
    display: flex;
    border-bottom: 1px solid $color-midtone;
    margin-bottom: 10px;
    padding-bottom: 7px;
    align-items: center;
}

// Add flex-container class to the first div-child (box-selector edit-design) of main container (selectors-container) so all containing items will be flex and positioned in columns
.flex-container {
    display: flex;
    flex-direction: column;
}

// Add title-box class to new div containing icons, title-edit, buttons PLUS the selectors' divs (those containing the customize boxes), in order to insert the selectors' divs inside the class box-selector. Thanks to this, you get that the border-bottom line will go together with the content of the section
.title-box {
    display: flex;
    width: 100%;
    align-items: center;
}

.title-edit {
    margin-left: 10px;
    font-family: $font-default;
    font-size: 18px;
    text-transform: uppercase;
}

.btn-angle {
    border: none;
    background: none;
    width: 16px;
    height: 18px;
    margin-left: auto;
    transform: scale(2.5);
    color: $color-secondary;
    -webkit-text-stroke: .1rem $color-back;
}

.btn-fold {
    display: none;
}

.icons-edit {
    color: $color-primary;
}

/*palletes*/

.selectors-design {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.text-color {
    font-size: 16px;
    font-family: $font-default;
    font-weight: 400;
    text-transform: uppercase;
}

.list-pallete {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px 0px;
}

.pallet-box {
    display: flex;
    margin-left: 10px;
}

.selection-input {
    height: 17px;
    width: 17px;
    cursor: pointer;
}

.label-color,
.label-font {
    display: flex;
    align-items: center;
}

/* blue pallete*/

.blue-dark-color {
    width: 30px;
    height: 25px;
    background-color: $palette-blue-dark;
}

.blue-midtone-color {
    width: 30px;
    height: 25px;
    background-color: $palette-blue-midtone;
}

.blue-ligth-color {
    width: 30px;
    height: 25px;
    background-color: $palette-blue-ligth;
}

/* red pallete*/

.red-dark-color {
    width: 30px;
    height: 25px;
    background-color: $palette-red-dark;
}

.red-midtone-color {
    width: 30px;
    height: 25px;
    background-color: $palette-red-midtone;
}

.red-ligth-color {
    width: 30px;
    height: 25px;
    background-color: $palette-red-ligth;
}

/* red pallete*/

.grey-dark-color {
    width: 30px;
    height: 25px;
    background-color: $palette-grey-dark;
}

.grey-ligth-color {
    width: 30px;
    height: 25px;
    background-color: $palette-grey-ligth;
}

.grey-midtone-color {
    width: 30px;
    height: 25px;
    background-color: $palette-grey-midtone;
}

// Select your font box
// check selectors-design class to make general style
.selectors-font {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 15px;
}

.list-font {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 5px 0px;
}

.font-box {
    display: flex;
    margin-left: 10px;
    width: 90px;
}

.select-ubuntu {
    font-family: $ubuntu;
}

.select-comic {
    font-family: $comic;
}

.select-montse {
    font-family: $montse;
}

/*-----Classes for the card when selecting each palette----*/

.color-red {
    .card-header {
        border-left: 3px solid $palette-red-dark;
    }
    .name-person {
        color: $palette-red-dark;
    }
    .icons-contein {
        border: 2px solid $palette-red-ligth;
    }
    .icons-card {
        color: $palette-red-dark;
    }
    .skills__item {
        background-color: $palette-red-midtone;
    }
}

.color-grey {
    .card-header {
        border-left: 3px solid $palette-grey-dark;
    }
    .name-person {
        color: $palette-grey-dark;
    }
    .icons-contein {
        border: 2px solid $palette-grey-midtone;
    }
    .icons-card {
        color: $palette-grey-dark;
    }
    .skills__item {
        background-color: $palette-grey-ligth;
    }
}

/*-----Classes for the card when selecting each font style----*/

.font-ubuntu {
    font-family: $ubuntu;
}

.font-merri {
    font-family: $merri;
}

.font-merri {
    font-family: $montse;
}

.font-open {
    font-family: $open;
}

.font-comic {
    font-family: $open;
}

@media all and (min-width:768px) {
    .reset-box {
        padding-top: 163px;
    }
    .build-container {
        display: flex;
        flex-direction: row-reverse;
        padding: 20px 40px 20px 20px;
        justify-content: center;
    }
    .build-card {
        width: 329px;
        border-radius: 6px;
        padding-bottom: 222px;
    }
    .box-selector {
        width: 329px;
    }
    .selectors-design,
    .selectors-font {
        grid-gap: 82px;
    }
}

@media all and (min-width:1024px) {
    .build-card {
        width: 585px;
    }
}

//Rellena

.fill { 
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    margin-top: 25px;
    margin-bottom: 30px;
    padding: 0;

}

.contact {
    font-family: $open;
    font-size: 14px;
    line-height: 20px;
    color: $palette-blue-dark;
    max-width: 280px;
    margin-bottom: 20px;
    margin-left: 0;
    margin-right: 0;

}

.contact input {
    display: block;
   
    margin-top: 6px;
    
}


input {
    padding-bottom: 6px;
    padding-left: 9px;
    padding-top: 4px;
    border: 1px solid $palette-blue-ligth;
    outline-style: none;
    width: 281px; //en tablet tiene que tener 329px
   
   
}

::placeholder {
    color: $color-pinkish-grey;
    
}

.button_ad_image {
    display: inline-block;
    height: 30px;
    width: 140px;
    color: $color-ligth;
    background-color: $color-primary;
    margin-right: 30px;
    margin-top: 6px;
    outline: none;
    border: none;
    border-radius: 3px;
    font-family: $open;
    font-size: 14px;
    line-height: 20px;
}

.add_image {
    display:flex;
    flex-direction: row;
}

.empty-container {
    width: 30px;
    height: 30px;
    border: 1px solid $palette-blue-ligth;
    margin-top: 6px;
}

.checkbox_contact {
    margin-bottom: 10px;
    margin-top: 20px;
}

.check_styles {
    font-family: $open;
    font-size: 14px;
    line-height: 20px;
    color: $palette-blue-dark;
    margin-bottom: 11px;
}

.checkbox_input {
    max-width: 27px;
}