
.logo-image {
    height: 64px;
    width: 100%;
    background: url(../images/awesome-card-logo.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    margin-left: 35px;
    margin-right: 35px;
}