@import 'core/variables';
@import 'components/typography';
@import 'pages/card';
*{  
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; /*cambiar*/
    font-weight: 400; /*cambiar*/
    font-size:16px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

.page {
    background-color: $color-back; 
    width: 100%;
    flex-grow: 1;
  
}

/*-----------HEADER landing------------*/ 
@import 'layout/header';

/*-----------FOOTER landing------------*/ 
@import 'layout/footer';

/*-----------Home /main section landing------------*/ 

@import 'pages/landing-main';

@import 'pages/card';
