@import 'core/variables';
@import 'components/typography';
@import 'pages/card';
*{  
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif; /*cambiar*/
    font-weight: 400; /*cambiar*/
    background-color: $color-back; 
    font-size:16px;
}

/*-----------HEADER landing------------*/ 
@import 'layout/header';

/*-----------FOOTER landing------------*/ 
@import 'layout/footer';

/*-----------Home /main section landing------------*/ 

@import 'pages/landing-main';

@import 'pages/card';
