<section class="build-container">
    <div class="build-card">
        <div class="reset-box">
                <a href="" class="reset-link">
                <div class="reset-btn">
                <i class="far fa-trash-alt"></i> reset
                </div>
                </a>
        </div>
        <div class="box-card">
            <div class="card-header card-header--font">
                <h1 class="name-person"> Nombre Apellido</h1>
                <h4 class="work-space"> Front-end developer</h3>
            </div>
            <div class="card-img">
            </div>
            <div class="icons-box">
                <ul  class="list-icon-card">
                <li class="icons-card icon-movil"> <a href=""><i class="fas fa-mobile-alt"></i></a></li>
                <li class="icons-card icon-mail"> <a href="#"><i class="far fa-envelope"></i></a></li>
                <li class="icons-card icon-linkedin"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                <li class="icons-card icon-github"><a href="#"><i class="fab fa-github-alt"></i></a></li>
            </ul>
            </div>
            <div class="card-footer">
                <div class="skills">
                    <ul class="skills__list">
                        <li class="skills__item skills__item--bg">html</li>
                        <li class="skills__item skills__item--bg">css</li>
                        <li class="skills__item skills__item--bg">gulp</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>