<form action="/signup" method="post">

    <label for="firstName">Nombre completo</label>
    <input placeholder="Ej: Sally Jill" id="firstName" type="text" name="Name">
    <label for="job">Puesto</label>
    <input placeholder="Ej: Front-end unicorn" id="job" type="text" name="Job">
    <label for="image">Imagen de perfil</label>

    <label for="lastName">Apellido</label>
    <input id="lastName" type="text" name="lastName">
    <input type="submit" value="Enviar info">
















</form>