<main class="page__main">
  </section>
  <div class="container-text">
    <h1 class="main-title">Crea tu tarjeta de visita</h1>
    <p class="mainp">Crea mejores contactos profesionales de forma rápida y cómoda</p>
  </div>

  <ul class="list">
    <li class="list__element"><i class="far fa-object-ungroup icon-design"></i></li>
    <li class="list__element"><i class="far fa-keyboard icon-fill"></i></li>
    <li class="list__element"><i class="fas fa-share-alt icon-share"></i></li>
    <li class="list__element element-text">Diseña</li>
    <li class="list__element element-text">Rellena</li>
    <li class="list__element element-text">Comparte</li>
  </ul>

  <a href="" class="btn-start">Comenzar</a>
  <section>
</main>
