<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Awesome Cards</title>
    <link rel="icon" href="favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/main.css">
</head>

<body>
    <div class="page">
        <div class="box-logo-builder">
            <partial src="_header.html" logoImg="img-logo-builder" logoPage="builder-logo"></partial>
        </div>
        <partial src="_card.html"></partial>
        <partial src="_footer.html" label=""></partial>

    </div>
    <script type="text/javascript" src="assets/js/main.js"></script>
</body>

</html>