/*dull-orange*/
$color-primary: #e17334;
/*gunmetal*/
$color-secondary: #54585a;

$color-back: #f5f5f5;
$palet-blue-dark: #114e4e;
$palet-blue-midtone:
$palet-blue-ligth:


$color-black: #0000;
$color-dityBlue: #438792;
$color-light-khaki: #f9f4dc;
$color-white: #ffff;
$color-hospital-green: #a2deaf;
$color-azure: #00a0f5;
$color-brownish-grey: #6b6b6b;
$color-white-two: #d8d8d8;

$color-pinkish-grey: #c5c5c5;
$color-silver: #bfcdd0;
$color-pale-grey: #dde9ed;
$color-tomato: #e95626;
$color-light-grey-blue: #a0c0cf;
$color-rusty-red: #bd1010;
$color-pale-grey-two: #dfe5eb;





