//Google Fonts Merriweather Montserrat Open Sans Ubuntu
@import url('https://fonts.googleapis.com/css?family=Merriweather:900|Montserrat|Open+Sans:400,600,700|Ubuntu:400,700');

//Font variables
$merri: 'Merriweather', serif;
$montse: 'Montserrat', serif;
$open: 'Open Sans', sans-serif;
$ubuntu: 'Ubuntu', sans-serif;
$comic: 'Comic Sans MS', 'TSCu_Comic', sans-serif;

$font-title: $merri;
$font-default: $open;

//