
.container-logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.img-logo {
    max-width:250px;
    margin-top: 94px;
    margin-left: 35px;
    margin-right: 35px;  
}

.logo-builder {
    text-align: start;
    padding: 30px 0;
    margin: 0;
}


@media all and (min-width:768px) {
    
    .img-logo {
        max-width:419px;
        margin-top: 348px;
        margin-left: 175px;
        margin-right: 174px;  
    }

}

@media all and (min-width:1200px) {
    
    .img-logo {
        max-width:419px;
        margin-top: 94px;
        margin-left: 175px;
        margin-right: 175px;  
    }

}