
.container-logo {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width:100%;
}

.img-logo {
    max-width:250px;
    margin-top: 94px;
    margin-left: 35px;
    margin-right: 35px;  
}