
/*$color-white: #ffff;*/

$color-dark: #0000;
$color-midtone: #d8d8d8;
$color-ligth: #ffff;
$color-back: #f5f5f5;
$color-primary: #e17334;
$color-secondary: #54585a;
$color-tertiary: #6b6b6b;
$color-btn-disabled: #d5d5d5;
$color-twitter: #00a0f5;
/*palets*/
$palette-blue-dark: #114e4e;
$palette-blue-midtone: #438792;
$palette-blue-ligth: #a2deaf;
$palette-red-dark: #420101;
$palette-red-midtone: #bd1010;
$palette-red-ligth: #e95626;
$palette-grey-dark: #3e5b65;
$palette-grey-midtone:  #a0c0cf;
$palette-grey-ligth: #dfe5eb;
$palette-blue-gum: #41d2c3;
$palette-pink-dark-gum: #e2424f;
$palette-pink-light-gum: #fa7070;
$palette-gold-color:#C0B283;
$palette-silver-color: #DCD0C0;
$palette-black-pearl-color:#373737;
$palette-purple-midtone-color:#855da1;
$palette-purple-dark-color: #5F0F4E;
$palette-purple-light-color: #E52A6F;
$palette-blue-water-color: #1FB85F;
$palette-yello-sand-color: #EAB126;
$palette-pink-cocktail-color: #F24C4E;
$palette-violet-gradient: #7C60BA;
$palette-blue-intense-gradient: #00BDD7;


$color-light-khaki: #f9f4dc;

$color-pinkish-grey: #c5c5c5;
/*background cards*/
$color-silver: #bfcdd0;
$color-pale-grey: #dde9ed;







